body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

header {
    background-color: #0a3d62;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}

#borang button {
    display: block;               
    width: 220px;                 
    margin: 20px auto 0 auto;
    padding: 12px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #0a3d62;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#borang button:hover {
    background-color: #094275;
}

table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0a3d62;
    color: white;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #0a3d62;
    color: white;
    margin-top: 20px;
}

.speaker {
    display: flex;
    gap: 15px;
    align-items: center;
}

#tablePendaftaran {
    width: 100%;
    border-collapse: collapse;
}

#tablePendaftaran th,
#tablePendaftaran td {
    text-align: center;
    padding: 8px;
}

#tablePendaftaran th {
    background-color: #0a3d62;
    color: white;
}

